start juliet
start runcode

# Other Core Resources
start bb-discordconnector
start bb-multicharacter

start chat
start bob74_ipl
start warmenu
start gamemeta
start gunmeta
start gunmetaDLC

start connectqueue
start discord_perms 
start DiscordWhitelist
start EasyAdmin
start NativeUI

# Nevo (Error Log) (Use First)
start nevo-scripts
start PolyZone

# RL Core Resources
start rl-spawn
start rl-inventory
start rl-hud
start rl-weapons
start bb-pawnshop

# RL Resources
start rl-admin
start rl-apartments
start rl-balance
start rl-bennys
start rl-banking
start rl-atms
start rl-carry
start rl-carwash
start rl-cityhall
start rl-clothing
start rl-commandbinding
start rl-contracts
start rl-crafting
start rl-crypto
start rl-mechanic
start rl-dispatch
#start rl-diving
start rl-doorlock
start rl-driftschool
start rl-drugs
start rl-fitbit
start rl-houses
start rl-interior
#start rl-jail
start rl-justice
start rl-keyminigame
start rl-lapraces
start rl-loadscreen
start rl-lockpick
#start rl-occasions
start rl-oxyruns
start rl-pawnshop
start rl-pings
start rl-prison
start rl-radialmenu
start rl-scripts
start rl-shops
start rl-skillbar
start rl-streetraces
start rl-trains
start rl-traphouses
start rl-tunerchip
start rl-usb
start rl-vehfailure
#start rl-vehiclekeys
start rl-vehiclerental
start grp-vehshop
start rl-taskbarskill
start rl-weathersync
start rl-weed
start rl-recycle
start rl-metaldetector
start rl-wrs
start rs-vehicletuning
start LegacyFuel

# Robberys
start rl-bankrobbery
start rl-houserobbery
start rl-jewellery
start rl-storerobbery
start rl-truckrobbery
start threatbar

# RL Jobs
#start rl-vehicletuning
start rl-garbagejob 
start rl-scrapyard
start rl-taxi
start rl-towing
start rl-trucker
#start rl-tow
start rl-hotdogjob
start rl-police
start rl-mada
start rl-jobs
start rl-lawyers
start rl-vanillaunicorn
start rl-weapondealer
start rl-newsjob
start rl-dede
start rl-gsr

# RL Phone
#start rl-phone
start rl-mdt
start phone

# barbaroNNs Scripts
start bb-queue
start bb-dices
start bb-3dme
start bb-scripts
start bb-logs
#start bb-jguid
start bb-bossmenu
start bb-sellvehicle
#start bb-garages
start rl-garages
start bb-guardapi
start dpscenes

# Nevo Scripts
#start nv-outfits

# Casino Stuff
#start casino
#start casino2
#start rl-casino
#start rl-blackjack
#start rl-roulette

# Other resources
start dpemotes
start hackgame
start interact-sound
start koil-debug
start lux_vehcontrol
start notepad
start progressbar
start pw_coords
start safecracker
start stopdespawn
start trafficadjuster
start veh-hud
start postals
start tc-handling
#start vstancer
start acidtrip
start mka-lasers
start tc-xhair
start red_alarms
#start tc-oneofone
start Flatbed

-# YMaps
#casino_ipl
#start autoschool
#start int_lscustoms
#start int_mrpd
start int_burgershot

start comedyclub

start gabz_bennys

start courthouse
start gabz_mrpd
start gabz_pillbox_hospital

start int_dojo
start int_fightclub
start int_italy
start int_addons
start int_mechanic
start int_bahamas
start int_bratva
start int_coffeeshop
start int_prison
start int_taco
start int_vanillaunicorn
start int_weazelnews
start Saloon
start legion
start smoke

#start mapassets
start paletosheriff
start paletoliquor
start paleto247
start sandysheriff
start bobo_prison

start map-assets
start sound
start ymap_nobarriers
start lost-mc
start hrschool
start irishpub
start AutoLuxe


# Models
#ensure casinoclothes 
#ensure casinoheistclothes 
ensure eup-stream
ensure bertbert
#ensure cayoperico_eup


## Vehicles
# PD Vehicles
start E85-PDVehicles

# EMS Vehicles
start E85-EMSVehicles

# Custom Cars
start E85-Cars
start E85-Imports



# VOIP
start tokovoip_script
start ws_server
#start vRost
start radio
start bt-target

start qb-vehicleshop

ensure rl-casino
ensure casino_luckywheel
ensure tc_slots
ensure mp_insidetrack